[submodule "thirdparty/ade"]
	path = thirdparty/ade
	url = https://github.com/opencv/ade.git
[submodule "thirdparty/ngraph"]
	path = thirdparty/ngraph
	url = https://github.com/NervanaSystems/ngraph.git
